.type-writer-text {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.type-writer-inner {
    display: inline-block;
    width: 100%;
}

.type-writer-text:hover,
.type-writer-inner:hover {
    width: auto;
}

.type-writer-inner:hover .type-writer-text {
    animation: type-write-scroll infinite linear;
}


@keyframes type-write-scroll {
    0% {
        left: 0px;
    }

    100% {
        left: calc(-100% + var(--my-scroll-var) - 10px);
    }
}

/* Smooth blink animation for thinking/loading states */
@keyframes smoothBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.smooth-blink-text {
    animation: smoothBlink 1.5s ease-in-out infinite;
}